section {
    height: 36rem;
    background-image: url('../../../assets/img/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.card-header {
    padding: 1.5rem 2rem;
}

.card-body {
    padding: 1rem 2rem;
}

.card-footer {
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
}

label {
    margin: 0.3rem auto;
}

input {
    margin-bottom: 0.5rem;
}