<app-header></app-header>
<section>
    <div class="card">
        <h5 class="card-header bg-primary bg-gradient text-white text-center">ĐĂNG KÝ</h5>

        <div class="card-body">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" formControlName="username" class="form-control" />
                    <div *ngIf="(f['username'].touched || submitted) && f['username'].errors" class="text-danger">
                        <div *ngIf="f['username'].errors['required']">Tài khoản không được để trống</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control"/>
                    <div *ngIf="(f['email'].touched || submitted) && f['email'].errors" class="text-danger">
                        <div *ngIf="f['email'].errors['required']">Email không được để trống</div>
                        <div *ngIf="f['email'].errors['email']">Email không đúng định dạng</div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-block w-100">
                        Đăng ký
                    </button>
                </div>
            </form>
        </div>

        <div class="card-footer text-end">
            <div class="mb-2">
                <span>Bạn đã có tài khoản ?</span>
                <a href=""> Đăng nhập ngay</a>
            </div>
            <div>
                <span>Quên mật khẩu ?</span>
                <a href=""> Lấy lại mật khẩu</a>
            </div>
        </div>
    </div>
</section>
<app-footer class="mt-auto"></app-footer>
