<section class="page-wrapper">
    <!--NavBar-->
    <app-header></app-header>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container container-full mb-4 mt-5">
                <section class="featured-content">
                    <section class="container-fluid">
                        <section class="featured-content" id="content">
                            <section class="row">
                                <app-account-navbar></app-account-navbar>
                                <section class="col-lg-10 col-md-9">
                                    <section class="row">
                                        <div class="col">
                                            <div class="card mb-5">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="oi oi-book"></span> Cập Nhật Chương <span> {{chapter.chapterNumber}}</span> Của Truyện <span> {{story.name}} </span> 
                                                </h3>
                                                <div class="card-body">
                                                    <form enctype="multipart/form-data" class="section-preview" id="resetForm" name='resetForm' [formGroup]="editChapterForm" (ngSubmit)="onSubmit()">
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="number" class="form-control" id="serial" name="serial" formControlName="serial">
                                                                    <label for="serial" class="form-label text-primary active">Thứ tự </label>
                                                                    <span class="form-text text-muted">
                                                                        Đây là số thứ tự của chương. Danh sách chương được sắp xếp theo STT này.
                                                                    </span>
                                                                    <div *ngIf="(f['serial'].touched || submitted) && f['serial'].errors" class="text-danger">
                                                                        <em *ngIf="f['serial'].errors['required']">Thứ tự chương không được để trống</em>
                                                                        <em *ngIf="f['serial'].errors['maxlength']">Thứ tự chương không được vượt quá 5 ký tự</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="chapterNumber" name="chapterNumber" formControlName="chapterNumber" autocomplete="off">
                                                                    <label for="chapterNumber" class=" text-primary form-label active">Chương Thứ</label>
                                                                    <span class="form-text text-muted">
                                                                        Đây là số chương. VD 'Chương 46: Ta Vô Địch' thì Chương Thứ là '46'
                                                                    </span>
                                                                    <div *ngIf="(f['chapterNumber'].touched || submitted) && f['chapterNumber'].errors" class="text-danger">
                                                                        <em *ngIf="f['chapterNumber'].errors['required']">Chương truyện không được để trống</em>
                                                                        <em *ngIf="f['chapterNumber'].errors['maxlength']">Chương truyện không được vượt quá 5 ký tự</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="name" name="name" formControlName="name" autocomplete="off">
                                                                    <label for="name" class=" text-primary active">Tên Chương</label>
                                                                    <div *ngIf="(f['name'].touched || submitted) && f['name'].errors" class="text-danger">
                                                                        <em *ngIf="f['name'].errors['required']">Chương truyện không được để trống</em>
                                                                        <em *ngIf="f['name'].errors['maxlength']">Chương truyện không được vượt quá 255 ký tự</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                       <div class="row">
                                                           <div class="col-md-12">
                                                               <div class="md-form mb-0">
                                                                   <input type="text" class="form-control" id="createDate" name="createDate" [ngModel]="chapter.createDate | date:'dd-MM-yyyy'"
                                                                   [ngModelOptions]="{standalone: true}" readonly>
                                                                   <label for="createDate" class="text-primary active">Ngày Tạo </label>
                                                               </div>
                                                           </div>
                                                       </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <!--Grid column-->
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <h6 for="content" class=" text-primary active">Nội dung:</h6>
                                                                    <p-editor type="text" id="content" name="content" rows="10" formControlName="content" [style]="{'height':'320px'}"></p-editor>
                                                                    <div *ngIf="this.editChapterForm.controls['content'].errors?.['required'] && submitted" class="text-danger">
                                                                        <em>Nội dung không được để trống</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ng-container *ngIf="story.dealStatus==1">
                                                                    <select *ngIf="(chapterStatus==2 || chapterStatus==0) && chapter.price > 0" class="mdb-select md-form colorful-select dropdown-primary" (change)="valueChange($event)" [disabled]="(chapterStatus==2 || chapterStatus==0) && chapter.price > 0">
                                                                        <option *ngFor="let status of statusList" [ngValue]="status.id" [selected]="status.id === chapterStatus"
                                                                        [disabled]="chapterStatus==2 && chapter.price > 0">
                                                                            {{ status.label }}
                                                                        </option>
                                                                    </select>
                                                                    <select *ngIf="chapterStatus==1" class="mdb-select md-form colorful-select dropdown-primary" (change)="valueChange($event)">
                                                                        <option *ngFor="let status of statusList" [ngValue]="status.id" [selected]="status.id === chapterStatus"
                                                                        [disabled]="status.label=='VIP'">
                                                                            {{ status.label }}
                                                                        </option>
                                                                    </select>
                                                                </ng-container>
                                                                <ng-container *ngIf="story.dealStatus==0">
                                                                    <select class="mdb-select md-form colorful-select dropdown-primary" (change)="valueChange($event)">
                                                                        <option *ngFor="let status of statusList" [ngValue]="status.id" [selected]="status.id === chapterStatus"
                                                                        [disabled]="status.label=='VIP'">
                                                                            {{ status.label }}
                                                                        </option>
                                                                    </select>
                                                                </ng-container>
                                                                
                                                                <label
                                                                    class="md-label-cs text-primary mt-1 form-label">Trạng
                                                                    Thái</label>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row text-right">
                                                            <div class="col-12">
                                                                <button type="button" routerLink="/tai_khoan/chuong_cua_truyen/{{storyId}}" class="btn btn-outline-primary btn-rounded waves-effect">Danh sách chương
                                                                </button>
                                                                <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" (click)="formReset()">Làm Lại</button>
                                                                <button type="submit" [disabled]="loading"
                                                                    class="btn btn-outline-primary btn-rounded waves-effect">
                                                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Cập Nhật
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

<!--Footer-->
<app-footer></app-footer>