.navbar {
    padding: 0.5rem 10rem;
}

.navbar-brand img {
    max-height: 50px;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

.navbar-nav .nav-item {
    color: rgba(18,18,23,.6);
    margin-left: 10px;
}

.navbar-nav .nav-item span {
    padding-left: 5px;
}

svg {
    fill: currentColor;
}

.navbar-nav .nav-item img {
    color: rgba(18,18,23,.6);
}