<footer>
    <section class="container">
        <div class="row gx-5 py-3">
            <div class="col">
                <h5 class="text-primary ps-2">Giới thiệu</h5>
                <hr />
                <small>
                    {{info?.introduce}}
                </small>
                <br />
                <small>
                    Truyện trên WebTruyện được tổng hợp tự động từ internet, chúng tôi không giữ bản quyền cũng như chịu
                    trách nhiệm nội dung trên website này.
                </small>
            </div>

            <div class="col">
                <h5 class="text-primary ps-2">Hỗ trợ</h5>
                <hr />
                <ul>
                    <li>
                        <fa-icon [icon]="faMobileAlt" size="lg"></fa-icon>
                        <a href="">Ứng dụng truyện online</a>
                    </li>
                    <li>
                        <fa-icon [icon]="faBug"></fa-icon>
                        <a href="">Báo lỗi ứng dụng</a>
                    </li>
                    <li>
                        <fa-icon [icon]="faQuestion"></fa-icon>
                        <a href="">Câu hỏi thường gặp</a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h5 class="text-primary ps-2">Liên hệ</h5>
                <hr />
                <ul>
                    <li>
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        <a href="">Email: {{info?.email}}</a>
                    </li>
                    <li>
                        <fa-icon [icon]="faPhoneAlt"></fa-icon>
                        <a href="">Phone: {{info?.phone}}</a>
                    </li>
                    <li>
                        <fa-icon [icon]="faSkype"></fa-icon>
                        <a href="">Skype: {{info?.skype}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>