<footer>
    <section class="container">
        <div class="row gx-5 py-4">
            <div class="col">
                <h5 class="text-primary ps-2">Giới thiệu</h5>
                <hr />
                <small>
                    WebTruyện là nơi chia sẻ, cập nhật sớm và đầy đủ nhất những câu truyện hay, nổi tiếng hoàn toàn miễn
                    phí từ các nguồn internet và các thành viên. Những câu chuyện với nội dung hấp dẫn và đa dạng với
                    đầy đủ các thể loại từ tiểu thuyết ngôn tình, truyện ma kinh dị, kiếm hiệp, ... và nhiều thể loại
                    hấp dẫn khác.
                </small>
                <br />
                <small>
                    Truyện trên WebTruyện được tổng hợp tự động từ internet, chúng tôi không giữ bản quyền cũng như chịu
                    trách nhiệm nội dung trên website này.
                </small>
            </div>

            <div class="col">
                <h5 class="text-primary ps-2">Hỗ trợ</h5>
                <hr />
                <ul>
                    <li>
                        <a href="">Ứng dụng truyện online</a>
                    </li>
                    <li>
                        <a href="">Báo lỗi ứng dụng</a>
                    </li>
                    <li>
                        <a href="">Câu hỏi thường gặp</a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h5 class="text-primary ps-2">Liên hệ</h5>
                <hr />
                <ul>
                    <li>
                        <a href="">Email: apt.truyenonline@gmail.com</a>
                    </li>
                    <li>
                        <a href="">Phone: 077.123.45678</a>
                    </li>
                    <li>
                        <a href="">Facebook: WebTruyenFree</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>