<section class="page-wrapper">
    <app-header></app-header>
    <section class="truyen-main" *ngIf="pageStory.length == 0">
        <section id="content" class="container container-truyen mb-4">
            <section class="truyen-section section-featured">
                <section class="featured-content">
                    <section class="row align-items-center">
                        <section class="error-card">
                            <section class="error-title-block">
                                <h2 class="error-sub-title shadow-1"> Chưa Có Truyên nào thuộc thể loại này</h2>
                            </section>
                            <section class="error-container text-center mt-4">
                                <a class="btn btn-truyen" routerLink="/trang-chu"><i
                                        class="fa fa-angle-left"></i> Trở về Trang Chủ</a>
                            </section>
                            <script>
                                $(document).ready(function () {
                                    $('.error-title-block').addClass('animated flipInY');
                                    $('.error-container').addClass('animated fadeInUp');
                                })
                            </script>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="truyen-main" *ngIf="pageStory.length != 0">
        <section class="container">
            <section class="truyen-section section-featured">
                <section class="featured-content">
                    <section class="row">
                        <section class="col-12 col-md-6 col-lg-4">
                            <section class="block block-editors-choice-slider">
                                <section class="block-content">
                                    <section class="editors-choice-slider js-editors-choice-slider">
                                        <h2 class="shadow-1">ĐỌC NHIỀU TRONG TUẦN</h2>
                                        <swiper [config]="config">
                                            <ng-container *ngFor="let _topStoryWeek of listTopViewWeek; index as i">
                                                <ng-template swiperSlide="" *ngIf="i < 4">
                                                    <section class="item">
                                                        <section class="thumb">
                                                            <a routerLink="/truyen-home/{{_topStoryWeek.id}}" >
                                                                <img class="img-fluid lazyload" alt="" data-src="{{_topStoryWeek.images}}" title="{{_topStoryWeek.name}}">
                                                            </a>
                                                        </section>
                                                        <section class="info">
                                                            <h2 class="title">
                                                                <a routerLink="/truyen-home/{{_topStoryWeek.id}}">{{_topStoryWeek.name}}</a>
                                                            </h2>
                                                            <span>
                                                                <span class="fz-16" >{{_topStoryWeek.cnt}}</span> người truy cập</span>
                                                            <section class="description text-center" style="-webkit-line-clamp: 2;"
                                                                     >{{_topStoryWeek.infomation}}</section>
                                                        </section>
                                                    </section>
                                                </ng-template>
                                            </ng-container>
                                        </swiper>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-12 col-md-6 col-lg-4">
                            <section class="block">
                                <section class="block-content">
                                    <section class="editors-choice-list">
                                        <section class="row">
                                            <ng-container *ngFor="let _topStoryWeek of listTopViewWeek; index as i" >
                                                <section class="col-12 col-sm-12 col-md-6 btv-2" *ngIf="i < 6">
                                                    <section class="item">
                                                        <h2 class="title">
                                                            <a routerLink="/truyen-home/{{_topStoryWeek.id}}" title="{{_topStoryWeek.name}}">{{_topStoryWeek.name}}</a>
                                                        </h2>
                                                        <section class="view text-secondary">
                                                            <span class="text-red fz-16">{{_topStoryWeek.cnt}}</span>người truy cập
                                                        </section>
                                                        <section class="description">{{_topStoryWeek.infomation}}</section>
                                                    </section>
                                                </section>
                                            </ng-container>
                                            <section class="clearfix hidden-xs"></section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-12 col-md-12 col-lg-4">
                            <section class="block block-default block-readers-choice">
                                <section class="block-header"><h2 class="title"> Top Tháng </h2></section>
                                <section class="block-content">
                                    <ul class="list-group">
                                        <li *ngFor="let _topstory of listTopAppointMonth; index as i" class="list-group-item list-group-item-primary-me" [ngClass]="i==0?'item-featured':''">
                                            <section class="content">
                                                <section class="index index-{{i+1}} index-star">{{i+1}}</section>
                                                <section class="info">
                                                    <h2 class="title">
                                                        <a routerLink="/truyen-home/{{_topstory.id}}">{{_topstory.name}}</a>
                                                    </h2>
                                                    <section class="view text-secondary" *ngIf="i == 0">
                                                        <span class="text-red fz-16">{{_topstory.cnt}}</span> phiếu
                                                    </section>
                                                    <section class="view text-secondary" *ngIf="i != 0">
                                                        {{_topstory.cnt}}
                                                    </section>
                                                    <section class="extra-info" *ngIf="i == 0">
                                                        <p>Thể Loại:
                                                            <a routerLink="/truyen-home/{{_topstory.id}}">{{_topstory.categoryName}}</a>
                                                        </p>
                                                        <p>Tác giả: <span>{{_topstory.author}}</span>
                                                        </p>
                                                    </section>
                                                </section>
                                                <section class="thumb" *ngIf="i == 0">
                                                    <section class="book-cover">
                                                        <a class="book-cover-link" href="" title="{{_topstory.name}}">
                                                            <img src="{{_topstory.images}}" alt="{{_topstory.name}}">
                                                        </a> <span class="book-cover-shadow"></span>
                                                    </section>
                                                </section>
                                            </section>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>

            <section class="truyen-section">
                <section class="container">
                    <section class="row">
                        <section class="col-12 col-md-12 col-lg-12">
                            <section class="block block-default block-list-new">
                                <section class="block-header">
                                    <h2 class="title text-uppercase">Truyện {{categoryName}}</h2>
                                </section>
                                <section class="block-content" id="dataTable">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-table" *ngFor="let story of pageStory; index as i">
                                            <section class="content">
                                                <a class="thumb" routerLink="/truyen-home/{{story.id}}">
                                                    <img class="img-fluid" src="{{story.images}}" alt="{{story.name}}">
                                                </a>
                                                <section class="info">
                                                    <h2 class="title">
                                                        <a title="{{story.name}}" routerLink="/truyen-home/{{story.id}}">
                                                            <img class="img-fluid" src="assets/img/vip-vip.gif" *ngIf="story.dealStatus === 1" alt="">
                                                            <span [ngClass]="story.dealStatus == 1?'shadow-2' : ''">{{story.name}}</span>
                                                        </a>
                                                    </h2>
                                                    <section class="chap">{{story.author}}</section>
                                                    <section class="author">
                                                        <a *ngIf="story.chapterId != null"
                                                            routerLink="/truyen-home/{{story.id}}/{{story.chapterId}}"
                                                           title="'Chương ' + {{story.chapterNumber}}"
                                                           >Chương {{story.chapterNumber}}</a>
                                                        <a *ngIf="story.chapterId == null">&nbsp;</a>
                                                    </section>
                                                    <section class="time">
                                                        <span class="d-none d-sm-block"
                                                              *ngIf="story.chapterId != null">{{story.displayName!=null?story.displayName:story.username}}</span>
                                                        <span class="d-block d-sm-none"
                                                              >{{story.timeUpdate}}</span>
                                                    </section>
                                                </section>
                                            </section>
                                        </li>
                                    </ul>
                                    <section *ngIf="totalPages > 1">
                                        <ul class="pagination justify-content-end mb-3 mt-3">
                                            <li class="page-item" *ngIf="currentPage!=1">
                                                <a class="page-link" (click)="getStoryListByCategory(currentPage - 1)">
                                                    <i class="fas fa-step-backward fa-sm"></i>
                                                </a>
                                            </li>
                                            <li *ngFor="let i of page" [ngClass]="i===currentPage?'page-item active': 'page-item'">
                                                <a class="page-link" (click)="getStoryListByCategory(i)">{{i}}</a>
                                            </li>
                                            <li class="page-item" *ngIf="currentPage != totalPages">
                                                <a class="page-link" (click)="getStoryListByCategory(currentPage + 1)">
                                                    <i class="fas fa-step-forward fa-sm"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

<app-footer></app-footer>