<app-admin-navbar></app-admin-navbar>
<main>

    <div class="container-fluid">

        <!-- Section: Intro -->
        <section class="mt-md-4 pt-md-2 mb-5 pb-4">

            <!-- Grid row -->
            <div class="card">
                <h3 class="card-header primary-color white-text text-center">
                    Danh sách Thể Loại
                </h3>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-12">
                            <a class="btn btn-outline-primary btn-rounded waves-effect" routerLink="/admin/add-category">THÊM MỚI</a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-12">
                            <div class="md-form mb-0">
                                <input #myInput type="text" class="form-control" (keyup.enter)="getCategory(1, myInput.value)" placeholder="Tìm Kiếm Theo Tên" length="255">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="font-weight-bolder">ID</th>
                            <th class="font-weight-bolder">Tên</th>
                            <th class="font-weight-bolder">Ngày Tạo</th>
                            <th class="font-weight-bolder">Người Tạo</th>
                            <th class="font-weight-bolder">Trạng Thái</th>
                            <th class="font-weight-bolder text-center">Hành Động</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="categories.length==0" class="text-center">
                                <td colspan="6">Chưa Có Thể Loại nào</td>
                            </tr>
                            <ng-container *ngIf="categories.length!==0">
                                <tr *ngFor="let cat of categories">
                                    <td>{{cat.id}}</td>
                                    <td>{{cat.name}}</td>
                                    <td>{{cat.createDate | date: 'mediumDate'}}</td>
                                    <td>{{cat.createBy}}</td>
                                    <td>
                                        <span *ngIf="cat.status==1" class="badge badge-pill badge-success">Hiển Thị</span>
                                        <span *ngIf="cat.status==0" class="badge badge-pill badge-danger">Khóa</span>
                                    </td>
                                    <td class="text-center">
                                        <a class="teal-text pr-2" data-toggle="tooltip" data-placement="top" title="Sửa" routerLink="/admin/category/{{cat.id}}"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="red-text pr-2" data-toggle="tooltip" data-placement="top" title="Xóa Chapter"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div aria-label="Page navigation example" *ngIf="totalPages>1">
                        <ul class="pagination pg-blue justify-content-end">
                            <li class="page-item" *ngIf="currentPage!=1">
                                <a class="page-link" (click)="getCategory(currentPage - 1, '')">
                                    <i class="fas fa-step-backward fa-sm"></i>
                                </a>
                            </li>
                            <li *ngFor="let i of page" [ngClass]="i===currentPage?'page-item active': 'page-item'">
                                <a class="page-link" (click)="getCategory(i,'')">{{i}}</a>
                            </li>
                            <li class="page-item" *ngIf="currentPage != totalPages">
                                <a class="page-link" (click)="getCategory(currentPage + 1,'')">
                                    <i class="fas fa-step-forward fa-sm"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Grid row -->

        </section>
        <!-- Section: Intro -->
    </div>

</main>
