<app-admin-navbar></app-admin-navbar>
<main>

    <div class="container-fluid">

        <!-- Section: Intro -->
        <section class="mt-md-4 pt-md-2 mb-5 pb-4">
            <div class="card">
                <h3 class="card-header primary-color white-text">
                    <span class="oi oi-book"></span> Cập Nhật Thể Loại
                </h3>
                <div class="card-body">
                    <form class="section-preview" id="resetForm" #editForm="ngForm" (ngSubmit)="submitEditCategory(editForm)">
                        <input type="hidden" class="form-control" id="id" name="id" readonly>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="oldpass" class="text-primary">Tên Thể Loại</label>
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label class="md-label-cs text-primary mt-1 form-label">Trạng Thái</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="isActiveBool" type="checkbox" [(ngModel)]="isActiveBool" id="status" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="status">
                                      Mở
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row text-right">
                            <div class="col-12">
                                <a class="btn btn-outline-secondary btn-rounded waves-effect" routerLink="/admin/category">Quay Lại</a>
                                <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect" value="Cập Nhật"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Intro -->
    </div>
</main>
