<section class="page-wrapper">
    <app-header></app-header>
    <section class="truyen-main">
        <section class="container">
            <section class="truyen-detail-block">
                <section class="truyen-section section-featured">
                    <section class="featured-content truyen-breadcrumb p-0">
                        <ol class="breadcrumb" style="background-color: inherit">
                            <li class="breadcrumb-item">
                                <a property="item" typeof="WebPage" routerLink="/">
                                    <span property="name">Trang chủ</span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{story.name}}
                            </li>
                        </ol>
                    </section>
                </section>
                <section class="truyen-section section-featured section-detail-info">
                    <section class="truyen-detail-info-block">
                        <section class="row">
                            <section class="col-thumb col-3">
                                <section class="thumb hidden-xs">
                                    <img class="img-fluid lazyload" data-src="{{story.images}}">
                                </section>
                            </section>
                            <section class="col-info col-6">
                                <section class="info">
                                    <h1 class="title">
                                        <a href="" title="{{story.name}}">{{story.name}}</a>
                                    </h1>
                                    <section class="list">
                                        <section class="item">
                                            <section class="item-label"> Tác giả:</section>
                                            <section class="item-value"><span class="author">{{story.author}}</span>
                                            </section>
                                        </section>
                                        <section class="item">
                                            <section class="item-label"> Thể loại:</section>
                                            <section class="item-value">
                                                <ul class="list-unstyled categories">
                                                    <li *ngFor="let category of story.categoryList">
                                                        <a routerLink="/the-loai/{{category.id}}"
                                                           title="Truyện {{category.name}}"
                                                           >{{category.name}}</a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </section>
                                        <section class="item">
                                            <section class="item-label"> Tình trạng:</section>
                                            <section class="item-value">
                                                <span class="story-go text-center" *ngIf="story.status==1">
                                                    Đang ra
                                                </span>
                                                <span class="story-go text-center" *ngIf="story.status==2">
                                                    Tạm dừng
                                                </span>
                                                <span class="story-com text-center" *ngIf="story.status==3">
                                                    Hoàn Thành
                                                </span>
                                            </section>
                                        </section>
                                        <section class="item d-block d-sm-none" *ngIf="readChapter != null">
                                            <section class="item-label"> Đã đọc:</section>
                                            <section class="item-value">
                                                <a href="">Chương {{readChapter.chapterNumber}} {{readChapter.name}}
                                                </a>
                                            </section>
                                        </section>
                                        <section class="item d-block d-sm-none">
                                            <section class="item-label"> Mới nhất:</section>
                                            <section class="item-value" *ngIf="story.chapterNew != null">
                                                <a href="">
                                                    <span class="text-info">Chương {{story.chapterNew.chapterNumber}} :
                                                        {{story.chapterNew.name}}</span>
                                                </a>
                                            </section>
                                        </section>
                                    </section>
                                    <section class="buttons">
                                        <a *ngIf="readChapter != null" class="btn btn-truyen" routerLink="/truyen-home/{{story.id}}/{{readChapter.id}}">
                                            Đọc tiếp
                                        </a>
                                        <a *ngIf="readChapter == null && story.chapterHead != null"
                                            class="btn btn-truyen" routerLink="/truyen-home/{{story.id}}/{{story.chapterHead.id}}">
                                            Đọc Từ Đầu
                                        </a>
                                        <a *ngIf="follow === false" (click)="addFollowStory()"
                                            class="btn btn-outline-primary waves-effect">Theo dõi</a>
                                        <a *ngIf="follow === true" (click)="cancelFollowStory()"
                                            class="btn btn-outline-primary waves-effect">Bỏ Theo dõi</a>
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-xs btn-read text-white" data-toggle="modal"
                                            data-target="#appointModal">
                                            Đề Cử
                                        </a>
                                    </section>
                                </section>
                            </section>

                            <section class="col-rating col-3">
                                <section class="rating-container text-center" itemscope="">
                                    <section class="title"> Đánh giá</section>
                                    <section class="content" itemprop="aggregateRating" itemscope="">
                                        <section class="message"> Đã có
                                            <span itemprop="ratingCount" id="myrating">{{countRating}}</span>
                                            người đánh giá
                                        </section>
                                        <section class="star-total hidden-xs">
                                            <span id="myrate" itemprop="ratingValue">{{story.rating |
                                                number:'0.1-1'}}</span>
                                        </section>
                                        <ng-container *ngIf="!rating">
                                            <ngb-rating  [max]="5" [(rate)]="starRating" (hover)="ratingHover($event)" [readonly]="false"></ngb-rating>
                                            <button class="btn btn-primary" (click)="submitRating()">Đánh giá</button>
                                        </ng-container>
                                        <ng-container *ngIf="rating && currentUser.id != story.userId">
                                            <p>Bạn đã đánh giá truyện này</p>
                                            <button class="btn btn-primary disabled" (click)="submitRating()">Đánh giá</button>
                                        </ng-container>  
                                        <ng-container *ngIf="rating && currentUser.id == story.userId">
                                            <p>Bạn không được đánh giá truyện bạn đã đăng</p>
                                            <button class="btn btn-primary disabled" (click)="submitRating()">Đánh giá</button>
                                        </ng-container>                                     
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="truyen-section">
                    <section class="truyen-detail-tab classic-tabs" id="navbar-custom">
                        <div class="tabs-wrapper">
                            <!-- Nav tabs -->
                            <ul class="nav tabs-blue" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active waves-light active waves-effect waves-light"
                                        data-toggle="tab" href="#truyen-info" role="tab">
                                        Giới Thiệu
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                        href="#truyen-chapter" role="tab" ng-click="getListChapter(1, 1)">
                                        Danh Sách Chương
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                        href="#truyen-comment" role="tab" ng-click="getListComment(1, 1)">
                                        Bình Luận
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Tab panes {Fade}  -->
                        <section class="tab-content">
                            <section class="tab-pane fade show active" id="truyen-info" name="truyen-detail-info"
                                role="tabpanel">
                                <section class="row">
                                    <section class="col-sm-12 col-md-8 col-lg-9">
                                        <section class="brief" *ngIf="story.infomation != null">
                                            <div [innerHTML]="story.infomation | noSanitize">

                                            </div>
                                        </section>
                                        <section class="list-overview" *ngIf="story.chapterNew != null">
                                            <section class="item">
                                                <section class="item-title">
                                                    <i class="truyen-icon icon-list"></i> Mới nhất
                                                </section>
                                                <section class="item-value">
                                                    <a routerLink="/truyen-home/{{story.id}}/{{story.chapterNew.id}}">Chương
                                                        {{story.chapterNew.chapterNumber}}:
                                                        {{story.chapterNew.name}}</a>
                                                </section>
                                                <section class="item-time">{{story.chapterNew.timeUpdate}}</section>
                                            </section>
                                        </section>
                                    </section>
                                    <section class="col-sm-12 col-md-4 col-lg-3">
                                        <section class="truyen-detail-sidebar">
                                            <section class="block block-normal">
                                                <section class="block-content">
                                                    <section class="row">
                                                        <section class="col-xs-12 col-sm-6 col-md-12">
                                                            <section class="block-detail-sidebar-author text-center">
                                                                <section class="info">
                                                                    <a href="" class="avatar">
                                                                        <img class="img-fluid lazyload"
                                                                            src="{{user.avatar? user.avatar : noImage}}">
                                                                    </a>
                                                                    <h2 class="name">{{user.displayName}}</h2>
                                                                </section>
                                                                <ul class="list-unstyled truyen-author-badge"></ul>
                                                                <section class="overview">
                                                                    <span class="cap-3">Ngày Tham Gia:
                                                                        <span>{{user.createDate |
                                                                            date:'dd-MM-yyyy'}}</span>
                                                                    </span>
                                                                </section>
                                                                <section class="statistic">
                                                                    <section class="row">
                                                                        <section class="col-4">
                                                                            <section class="item">
                                                                                <span class="item-icon">
                                                                                    <i
                                                                                        class="truyen-icon icon-book"></i>
                                                                                </span>
                                                                                <span
                                                                                    class="item-value">{{user.countStory}}</span>
                                                                            </section>
                                                                        </section>
                                                                        <section class="col-4">
                                                                            <section class="item"><span
                                                                                    class="item-icon"> <i
                                                                                        class="truyen-icon icon-list"></i>
                                                                                </span>
                                                                                <span
                                                                                    class="item-value">{{user.countChapter}}</span>
                                                                            </section>
                                                                        </section>
                                                                        <section class="col-4">
                                                                            <section class="item">
                                                                                <span class="item-icon"> <i
                                                                                        class="truyen-icon icon-gold"></i>
                                                                                </span>
                                                                                <span
                                                                                    class="item-value">{{user.gold}}</span>
                                                                            </section>
                                                                        </section>
                                                                    </section>
                                                                </section>
                                                            </section>
                                                        </section>
                                                        <section class="col-xs-12 col-sm-6 col-md-12">
                                                            <section class="block-detail-sidebar-related">
                                                                <section class="header">
                                                                    <h2 class="title"> Cùng người đăng</h2>
                                                                </section>
                                                                <section class="content">
                                                                    <div
                                                                        class="detail-sidebar-related js-detail-sidebar-related">
                                                                        <swiper [config]="config">
                                                                            <ng-template swiperSlide=""
                                                                                *ngFor="let lStory of listStory">
                                                                                <div class="item text-center">
                                                                                    <a href="" class="thumb">
                                                                                        <img class="img-fluid"
                                                                                            src="{{lStory.images}}"
                                                                                            alt="{{lStory.name}}">
                                                                                    </a>
                                                                                    <div class="info">
                                                                                        <h2 class="title">
                                                                                            <a routerLink="/truyen-home/{{lStory.id}}"
                                                                                                title="{{lStory.name}}">{{lStory.name}}</a>
                                                                                        </h2>
                                                                                        <p class="description" [innerHTML]="lStory.infomation | noSanitize">
                                                                                        </p>
                                                                                        <a routerLink="/truyen-home/{{lStory.id}}"
                                                                                            class="btn btn-truyen"
                                                                                            title="">
                                                                                            Xem chi tiết
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </ng-template>
                                                                        </swiper>
                                                                    </div>
                                                                </section>
                                                            </section>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="tab-pane fade" id="truyen-chapter" name="truyen-chapter" role="tabpanel">
                                <section class="truyen-detail-chap">
                                    <section class="row" *ngIf="listChapter.length === 0">
                                        <section class="col-12">
                                            <section class="alert alert-primary" role="alert">
                                                <h5 class="text-center">Chưa có Chương nào được đăng </h5>
                                            </section>
                                        </section>
                                    </section>
                                    <section class="panel" *ngIf="listChapter.length !== 0">
                                        <section class="panel-body">
                                            <section class="list-chap">
                                                <section class="row">
                                                    <section class="col-sm-6 col-md-4 chapter-item" *ngFor="let item of listChapter">
                                                        <section class="item">
                                                            <a routerLink="/truyen-home/{{item.storyId}}/{{item.id}}" class="align-items-center d-flex"
                                                               title="Đăng bởi {{item.displayName}} lúc {{item.createDate| date: 'HH:mm dd-MM-yyyy' }}">
                                                                    <span class="chapter-name">
                                                                        <img *ngIf="item.status === 2 && item.price > 0" src="assets/img/vip-vip.gif" class="img-fluid"
                                                                             height="12px"> Chương {{item.chapterNumber}} : {{item.name}}</span>&nbsp;
                                                                <span class="chapter-time text-muted">{{item.timeUpdate}}</span>
                                                            </a>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                        <section *ngIf="totalPages > 1">
                                            <ul class="pagination justify-content-end mb-3 mt-3">
                                                <li *ngIf="currentPage != 1" class="page-item">
                                                    <a class="page-link" (click)="getChapterListByStoryId(currentPage - 1, 1)">
                                                        <i class="fas fa-step-backward fa-sm"></i>
                                                    </a>
                                                </li>
                                                <li *ngFor="let i of page" [ngClass]="i===currentPage?'page-item active': 'page-item'">
                                                    <a [ngClass]="i===currentPage?'page-link disabled': 'page-link'" (click)="getChapterListByStoryId(i,1)">{{i}}</a>
                                                </li>
                                                <li *ngIf="currentPage != totalPages" class="page-item">
                                                    <a class="page-link" (click)="getChapterListByStoryId(currentPage + 1, 1)">
                                                        <i class="fas fa-step-forward fa-sm"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" (click)="getChapterListByStoryId(1, 0)">
                                                        Xem hết
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="tab-pane fade" id="truyen-comment" name="truyen-comment" role="tabpanel">
                                <section class="truyen-detail-chap">
                                    <section class="row">
                                        <section class="col-md-12">
                                            <section id="comment_field">
                                                <section class="cm-based">
                                                    <p class="comment-count"><span id="count_comment">{{totalComment}}</span> bình luận
                                                    </p>
                                                    <form id="resetForm" #newForm="ngForm" (ngSubmit)="addComment(newForm)" novalidate>
                                                        <section class="form row">
                                                            <section class="form-group col-md-10 comment-text">
                                                                    <textarea ngModel name="commentText" id="commentText" required class="form-control">
                                                                    </textarea>
                                                            </section>
                                                            <section class="form-group col-md-2">
                                                                <button *ngIf="isLoggedIn" type="submit" ng-click="" class="btn btn-truyen btn-lg btn-block " name="btnComment"
                                                                        id="btnComment">
                                                                    <span class="fas fa-check" aria-hidden="true"></span>
                                                                </button>
                                                                <button *ngIf="!isLoggedIn" type="submit" ng-click="" class="btn btn-truyen btn-lg btn-block disabled" name="btnComment"
                                                                        id="btnComment">
                                                                    <span class="fas fa-check" aria-hidden="true"></span>
                                                                </button>
                                                            </section>
                                                            <section class="clearfix"></section>
                                                        </section>
                                                    </form>
                                                    <section id="truyen-detail-comment" class="blog-comment">
                                                        <section class="alert alert-primary" role="alert" *ngIf="listComment.length === 0">
                                                            <h5 class="text-center">Chưa có Bình Luận nào</h5>
                                                        </section>
                                                        <ul class="comments" id="comment_list" *ngIf="listComment.length !== 0">
                                                            <li class="clearfix" *ngFor="let comment of listComment" id="comment_{{comment.id}}">
                                                                <section style="float:left;width:40px;height:80px;">
                                                                    <a href="">
                                                                        <img class="avatar"
                                                                             alt="{{comment.user.displayName}}"
                                                                             src="{{comment.user.avatar? comment.user.avatar : noImage}}">
                                                                    </a><br style="clear:both">
                                                                </section>
                                                                <section class="post-comments">
                                                                    <p>{{comment.content}}</p>
                                                                    <p class="meta-2">
                                                                        <a href=""><abbr title="Thành viên">{{comment.user.displayName}}</abbr></a>
                                                                        <small>
                                                                            <small><a>Báo xấu</a></small>
                                                                        </small>
                                                                        <small class="float-right">{{comment.timeUpdate}}
                                                                        </small>
                                                                    </p>
                                                                </section>
                                                            </li>
                                                        </ul>
                                                        <section *ngIf="totalPagesComment>1">
                                                            <ul class="pagination justify-content-end mb-3 mt-3">
                                                                <li *ngIf="currentPage != 1" class="page-item">
                                                                    <a class="page-link" (click)="getCommentList(currentPage - 1, 1)">
                                                                        <i class="fas fa-step-backward fa-sm"></i>
                                                                    </a>
                                                                </li>
                                                                <li *ngFor="let i of page" [ngClass]="i===currentPage?'page-item active': 'page-item'">
                                                                    <a [ngClass]="i===currentPage?'page-link disabled': 'page-link'"
                                                                       (click)="getCommentList(i,1)">{{i}}</a>
                                                                </li>
                                                                <li *ngIf="currentPage != totalPages" class="page-item">
                                                                    <a class="page-link" (click)="getCommentList(currentPage + 1, 1)">
                                                                        <i class="fas fa-step-forward fa-sm"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" (click)="getCommentList(1, 0)">
                                                                        Xem hết
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

    <!-- Modal -->
    <section class="modal fade bd-example-modal-sm" id="appointModal" tabindex="-1" role="dialog"
        aria-labelledby="appointModalLabel" aria-hidden="true">
        <section class="modal-dialog modal-sm" role="document">
            <section class="modal-content">
                <section class="modal-header">
                    <h5 class="modal-title" id="appointModalLabel">Đề Cử Truyện</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </section>
                <section class="modal-body">
                    <p>- Truyện đã được đề cử: <strong>{{story.countAppoint}}</strong> nguyệt phiếu</p>
                    <p>- Nếu bạn thấy truyện này hay bạn có thể sử dụng Đậu để đề cử truyện này, truyện càng có
                        nhiều phiếu đề cử càng có vị trí đẹp ngoài trang chủ, càng có nhiều người đọc truyện hơn.</p>
                    <p>- Mỗi Phiếu đề cử tốn 1000 đậu</p>
                    <form class="form-inline" id="resetForm" #appointForm="ngForm" (ngSubmit)="appoint(appointForm)">
                        <section class="form-group">
                            <input type="number" class="form-control" ngModel name="coupon" placeholder="Nhập số phiếu đề cử" min="1">
                        </section>
                        <button type="submit" class="btn btn-truyen">Đề cử</button>
                    </form>
                </section>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>