<app-header></app-header>
<section class="page-wrapper">
    <section class="truyen-main">
        <section id="content" class="container">
            <section class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <h5 class="card-header primary-color white-text text-center py-4">
                            <strong>Lấy Lại Mật Khẩu</strong>
                        </h5>
                        <div class="card-body px-lg-5 pt-0">
                            <form class="md-form" id="rePassword" name='rePassword' [formGroup]="forgotForm" (ngSubmit)="onResetPassword()">
                                <div class="md-form">
                                    <input type="email" id="email" formControlName="email" class="form-control mb-4"/>
                                    <label for="email" class="text-primary">Email</label>
                                    <div *ngIf="(f['email'].touched || submitted) && f['email'].errors" class="text-danger">
                                        <span *ngIf="f['email'].errors['required']">Email không được để trống</span>
                                        <span *ngIf="f['email'].errors['email']">Email không đúng định dạng</span>
                                    </div>
                                </div><!--Grid row-->
                                <div class="row d-flex align-items-center mb-4">
                                    <!--Grid column-->
                                    <div class="text-center mb-3 col-md-12">
                                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-block btn-rounded z-depth-1">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Gửi Mật Khẩu
                                        </button>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>