<section class="page-wrapper">
    <!--NavBar-->
    <app-header></app-header>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container container-full mb-4 mt-5">
                <section class="featured-content">
                    <section class="container-fluid">
                        <section class="featured-content" id="content">
                            <section class="row">
                                <app-account-navbar></app-account-navbar>
                                <section class="col-lg-10 col-md-9">
                                    <section class="row">
                                        <div class="col-md-9 mb-5">
                                            <div class="card">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="oi oi-book"></span> Đổi Mật Khẩu
                                                </h3>
                                                <div class="card-body">
                                                    <form enctype="multipart/form-data" class="section-preview" id="resetForm" [formGroup]="passChangedForm" (ngSubmit)="onSubmit()">
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="password" class="form-control" id="oldpass" name="oldPassword" formControlName="oldPassword">
                                                                    <label for="oldpass" class="">Mật Khẩu</label>
                                                                    <div *ngIf="(f['oldPassword'].touched || submitted) && f['oldPassword'].errors" class="text-danger">
                                                                        <div *ngIf="f['oldPassword'].errors['required']">Mật khẩu không được để trống</div>
                                                                        <div *ngIf="f['oldPassword'].errors['invalidPassword']">Mật khẩu có độ dài từ 6-13. Đảm bảo một ký tự in Hoa, thường và ký tự số</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="password" class="form-control" id="newpass" name="newPassword" formControlName="newPassword">
                                                                    <label for="newpass" class="">Mật Khẩu Mới</label>
                                                                    <div *ngIf="(f['newPassword'].touched || submitted) && f['newPassword'].errors" class="text-danger">
                                                                        <div *ngIf="f['newPassword'].errors['required']">Mật khẩu không được để trống</div>
                                                                        <div *ngIf="f['newPassword'].errors['invalidPassword']">Mật khẩu có độ dài từ 6-13. Đảm bảo một ký tự in Hoa, thường và ký tự số</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="password" class="form-control" id="confirmPass" name="confirmNewPassword" formControlName="confirmNewPassword">
                                                                    <label for="confirmPass" class="">Nhắc Lại Mật Khẩu</label>
                                                                    <div *ngIf="(f['confirmNewPassword'].touched || submitted) && f['confirmNewPassword'].errors" class="text-danger">
                                                                        <div *ngIf="f['confirmNewPassword'].errors['required']">Mật khẩu xác nhận không được để trống</div>
                                                                        <div *ngIf="f['confirmNewPassword'].errors['passwordMismatch']">Mật khẩu xác nhận không trùng khớp</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <div class="row text-right">
                                                            <div class="col-12">
                                                                <button type="submit" [disabled]="loading" class="btn btn-outline-primary btn-rounded waves-effect">
                                                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                                                    Gửi Mật Khẩu
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>