<app-admin-navbar></app-admin-navbar>
<main>
    <form class="section-preview" id="resetForm" #editForm="ngForm" (ngSubmit)="submitEditAdminUser(editForm)">
        <div class="container-fluid">

            <!-- Section: Intro -->
            <section class="pb-4">
                <div class="card">
                    <h2 class="card-header primary-color white-text text-center font-weight-bold">
                        <span class="oi oi-book"></span> CẬP NHẬT NGƯỜI DÙNG
                    </h2>

                    <div class="card-body">

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="user.id"
                                        [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="id" class="text-primary active">ID: </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="username" name="username"
                                        [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="username" class="text-primary active">Tên Đăng Nhập: </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="displayName" name="displayName"
                                        [(ngModel)]="user.displayName" [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="displayName" class="text-primary active">Tên Hiển Thị: </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="createDate" name="createDate"
                                        [(ngModel)]="user.createDate" [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="createDate" class="text-primary active">Ngày Tạo </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="gold" name="gold"
                                        [(ngModel)]="user.gold" [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="gold" class="text-primary active">Số đậu: </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="email" name="email"
                                        [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" readonly>
                                    <label for="email" class="text-primary active">Email </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-12">
                                <select multiple class="mdb-select md-form colorful-select dropdown-primary" name="rolseList" [(ngModel)]="user.roleList" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let role of listRole" [ngValue]="role">
                                        {{role.name}}
                                    </option>
                                </select>
                                <label class="md-label-cs text-primary mt-1 form-label">Phân Quyền</label>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label class="md-label-cs text-primary mt-1 form-label">Trạng Thái</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="isActiveBool" type="checkbox"
                                        [(ngModel)]="isActiveBool" id="status" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="status">
                                        Mở
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row text-right">
                            <div class="col-12">
                                <a class="btn btn-outline-secondary btn-rounded waves-effect"
                                    routerLink="/quan_tri/nguoi_dung">Quay Lại</a>
                                <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect"
                                    value="Cập Nhật" />
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
    </form>
</main>