<app-admin-navbar></app-admin-navbar>
<main>

    <div class="container-fluid">

        <!-- Section: Intro -->
        <section class="mt-md-4 pt-md-2 mb-5 pb-4">

            <!-- Grid row -->
            <div class="row">

                <div class="card col-12">
                    <h3 class="card-header primary-color white-text text-center">
                        Danh sách Người Dùng
                    </h3>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-12">
                                <div class="md-form mt-0">
                                    <input type="text" class="form-control" length="255" (input)="getUser(1)" id="searchUser" name="searchUser" [(ngModel)] = "searchUser">
                                    <label for="searchUser" class="form-label text-primary">Tìm Kiếm Theo Tên Tài Khoản</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-12">
                                <select class="mdb-select md-form colorful-select dropdown-primary mt-0" [(ngModel)] = "type" name="type" (change)="getUser(1)">
                                    <option *ngFor="let item of typeList" [ngValue]="item">
                                        {{item.label}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        <table class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="font-weight-bolder">ID
                                </th>
                                <th class="font-weight-bolder">Tên TK
                                </th>
                                <th class="font-weight-bolder">Tên Hiển Thị
                                </th>
                                <th class="font-weight-bolder">Ngày Tạo</th>

                                <th class="font-weight-bolder">Trạng Thái
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.displayName}}</td>
                                <td>{{user.createDate | date:'HH:mm dd/MM/yyyy' }}</td>
                                <td>
                                    <span *ngIf="user.status==1" class="badge badge-pill badge-success">Kích Hoạt</span>
                                    <span *ngIf="user.status==0" class="badge badge-pill badge-danger">Khóa</span>
                                </td>
                                <td>
                                    <a data-toggle="modal" (click)="setID(user.id)" data-target="#modalLRFormDemo" title="Nạp Tiền" class="badge badge-pill badge-danger mr-1"><i class="fas fa-coins mx-1"></i></a>
                                    <a routerLink="/quan-tri/nguoi-dung/{{user.id}}" title="Sửa" class="badge badge-pill badge-danger mr-1"><i class="fas fa-edit mx-1"></i></a>
                                    <a title="Xóa user" (click)="onDeleteAdminUser(user)" class="badge badge-pill badge-danger mr-1"><i class="fas fa-trash mx-1"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div aria-label="Page navigation example" *ngIf="totalPages>1">
                            <ul class="pagination pg-blue justify-content-end">
                                <li class="page-item" *ngIf="currentPage!=1">
                                    <a class="page-link" (click)="getUser(currentPage - 1)">
                                        <i class="fas fa-step-backward fa-sm"></i>
                                    </a>
                                </li>
                                <li *ngFor="let i of page" [ngClass]="i===currentPage?'page-item active': 'page-item'">
                                    <a class="page-link" (click)="getUser(i)">{{i}}</a>
                                </li>
                                <li class="page-item" *ngIf="currentPage != totalPages">
                                    <a class="page-link" (click)="getUser(currentPage + 1)">
                                        <i class="fas fa-step-forward fa-sm"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Intro -->
    </div>
</main>

<!-- Modal nạp tiền-->
<div class="modal fade" id="modalLRFormDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <p class="heading lead">Nạp Tiền</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <form #payDrawForm="ngForm" (ngSubmit)="submitPayhDraw(payDrawForm)">
                <!-- Body -->
                <div class="modal-body">
                    <!-- Material input -->
                    <div class="md-form input-group">
                        <input type="number" id="numberExample1" class="form-control font-weight-bold" name="payCoin" ngModel="0" value=0>
                        <label for="numberExample1" class="text-primary active">Số Đậu</label>
                        <div class="input-group-append">
                            <span class="input-group-text md-addon">Đậu</span>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer justify-content-center">
                    <input type="submit" class="btn btn-primary waves-effect waves-light" value="Nạp" id="submitPD">
                    <input type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal" (click)="reset()" id="canSubmit" value="Hủy"/>
                </div>
            </form>
        </div>
        <!-- Content -->
    </div>
</div>
