/* You can add global styles to this file, and also import other style files */
:root {
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: grey;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.p-multiSelect {
    display: block;
}

.p-multiselect {
    width: 100%;
    font-size: 1rem;
}

.md-form textarea.md-textarea {
    overflow-y: auto;
    padding: 20px 0 0 0 !important;
}

b, strong {
    font-weight: bold;
}
/* Colored Toasts */
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
