<section class="page-wrapper">
    <!--NavBar-->
    <app-header></app-header>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container mb-4 mt-5">
                <section class="featured-content">
                    <section class="row">
                        <section class="col-12">
                            <section id="navbar-custom">
                                <app-member-interface [cvId]="cvId"></app-member-interface>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<!--Footer-->
<app-footer></app-footer>