<section class="page-wrapper">
    <!--NavBar-->
    <app-header></app-header>
    <section class="truyen-main">
        <section id="content" class="container">
            <section class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <h5 class="card-header primary-color white-text text-center py-4">
                            <strong>Đăng Nhập</strong>
                        </h5>
                        <div class="card-body px-lg-5 pt-0">
                            <form class="md-form" id="signupForm1" name='loginForm' [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="md-form">
                                    <input type="text" id="username" formControlName="username" class="form-control mb-4"/>
                                    <label for="username" class="text-primary">Tên đăng nhập</label>
                                    <div *ngIf="(f['username'].touched || submitted) && f['username'].errors" class="text-danger">
                                        <span *ngIf="f['username'].errors['required']">Tên đăng nhập không được để trống</span>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <input type="password" name="password" id="password" formControlName="password" class="form-control mb-4">
                                    <label for="password" class="text-primary">Mật Khẩu</label>
                                    <div *ngIf="(f['password'].touched || submitted) && f['password'].errors" class="text-danger">
                                        <div *ngIf="f['password'].errors['required']">Mật khẩu không được để trống</div>
                                    </div>
                                </div>
                                <div class="form-check my-4">
                                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
                                    <label class="form-check-label" for="remember-me"> Ghi nhớ đăng nhập</label>
                                </div>
                                <!--Grid row-->
                                <div class="row d-flex align-items-center mb-4">

                                    <!--Grid column-->
                                    <div class="text-center mb-3 col-md-12">
                                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-block btn-rounded z-depth-1">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Đăng Nhập
                                        </button>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->

                                <!--Grid column-->
                                <div class="col-md-12">
                                    <p class="font-small d-flex justify-content-end">Bạn chưa có tài khoản? <a routerLink="/thanh_vien/dang_ky" class="text-primary ml-1 font-weight-bold"> Đăng Ký Ngay</a></p>
                                </div>
                                <!--Grid column-->
                                <div class="col-md-12">
                                    <p class="font-small d-flex justify-content-end">Quên mật khẩu? <a routerLink="/thanh_vien/quen_mat_khau" class="text-primary ml-1 font-weight-bold"> Lấy Lại Mật Khẩu</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>